
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSLog/.vs/*
library/PSLog/PSLog/bin/*
library/PSLog/PSLog/obj/*

# ignore PowerShell Studio MetaData
PSLog/PSLog.psproj
PSLog/PSLog.psproj.bak
PSLog/PSLog.psprojs
PSLog/PSLog.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*